html #wrapper header div#bg, body #wrapper header div#bg, html #wrapper header div#bg div#circuit-bg, body #wrapper header div#bg div#circuit-bg, html #wrapper header div#bg div#circuit-bg div#white-border, body #wrapper header div#bg div#circuit-bg div#white-border, html #wrapper div#sort, body #wrapper div#sort, html #wrapper #items, body #wrapper #items, html #wrapper #items .item-box div.pic-holder, body #wrapper #items .item-box div.pic-holder, html #wrapper #items .item-box div.item-link-rate, body #wrapper #items .item-box div.item-link-rate, html #wrapper #items .item-box div.item-link-rate div.rating, body #wrapper #items .item-box div.item-link-rate div.rating, html #wrapper #items .item-box, body #wrapper #items .item-box {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

html #wrapper header div#bg, body #wrapper header div#bg, html #wrapper header div#bg div#circuit-bg, body #wrapper header div#bg div#circuit-bg, html #wrapper header div#bg div#circuit-bg div#white-border, body #wrapper header div#bg div#circuit-bg div#white-border, html #wrapper div#sort, body #wrapper div#sort, html #wrapper #items, body #wrapper #items, html #wrapper #items .item-box div.pic-holder, body #wrapper #items .item-box div.pic-holder, html #wrapper #items .item-box div.item-link-rate, body #wrapper #items .item-box div.item-link-rate, html #wrapper #items .item-box div.item-link-rate div.rating, body #wrapper #items .item-box div.item-link-rate div.rating {
  align-items: center; }

html #wrapper #items .item-box, body #wrapper #items .item-box {
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around; }

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
  background: #25356B; }
  html #wrapper, body #wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    font-family: arial, sans-serif;
    z-index: 10; }
    html #wrapper header, body #wrapper header {
      display: block; }
      html #wrapper header div#bg, body #wrapper header div#bg {
        align-items: flex-end;
        margin: 0;
        width: 100%;
        height: 10rem;
        background: red;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#444, #222);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#444, #222);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#444, #222);
        background: linear-gradient(#444, #222); }
        html #wrapper header div#bg div#circuit-bg, body #wrapper header div#bg div#circuit-bg {
          justify-content: center;
          width: 100%;
          height: 9rem;
          margin: 0;
          background-image: url("../images/circuit-bg.jpg");
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
          html #wrapper header div#bg div#circuit-bg div#white-border, body #wrapper header div#bg div#circuit-bg div#white-border {
            justify-content: center;
            width: 100%;
            max-width: 415px;
            height: 40%;
            margin: 0;
            border: .6rem solid white; }
            html #wrapper header div#bg div#circuit-bg div#white-border h1#logo, body #wrapper header div#bg div#circuit-bg div#white-border h1#logo {
              font-size: 3rem;
              font-family: "Oswald", sans-serif;
              font-weight: 700;
              margin: 0 0 .7rem 0;
              padding: 0;
              height: 4.5rem;
              color: white;
              text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
    html #wrapper div#sort, body #wrapper div#sort {
      justify-content: center;
      width: 100%;
      height: 3rem;
      margin: 0 0 1rem 0;
      z-index: 100;
      background: red;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#444, #222);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#444, #222);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#444, #222);
      background: linear-gradient(#444, #222); }
      html #wrapper div#sort #mini-logo, body #wrapper div#sort #mini-logo {
        font-size: 1.5rem;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        line-height: 10%;
        margin: 0 .3rem 0 0;
        color: white;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9); }
      html #wrapper div#sort form, body #wrapper div#sort form {
        margin: 0; }
        html #wrapper div#sort form select, body #wrapper div#sort form select {
          color: #404040;
          background: white; }
    html #wrapper .sticky, body #wrapper .sticky {
      width: 100%;
      position: fixed;
      top: 0; }
    html #wrapper #buffer, body #wrapper #buffer {
      margin: 0 0 1rem 0;
      width: 100%;
      height: 3rem;
      display: none; }
    html #wrapper #items, body #wrapper #items {
      justify-content: center;
      margin: 0 auto;
      width: 90%;
      min-width: 380px; }
      html #wrapper #items .item-box, body #wrapper #items .item-box {
        margin: .8rem;
        width: 23rem;
        height: 34rem;
        border-radius: 5% 5% 0 0;
        box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
        background: #FBFBFB; }
        html #wrapper #items .item-box h2.item-name, body #wrapper #items .item-box h2.item-name {
          margin: 1rem auto 0;
          width: 90%;
          height: 3.5rem;
          font-weight: normal;
          display: block;
          color: #404040; }
        html #wrapper #items .item-box div.pic-holder, body #wrapper #items .item-box div.pic-holder {
          height: 300px;
          background: white;
          box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.1); }
          html #wrapper #items .item-box div.pic-holder div.item-picture-price, body #wrapper #items .item-box div.pic-holder div.item-picture-price {
            margin: 0 auto;
            width: 100%;
            display: block;
            position: relative;
            background: white; }
            html #wrapper #items .item-box div.pic-holder div.item-picture-price img, body #wrapper #items .item-box div.pic-holder div.item-picture-price img {
              margin: 0 auto;
              max-width: 100%;
              max-height: 300px;
              display: block; }
            html #wrapper #items .item-box div.pic-holder div.item-picture-price p.item-price, body #wrapper #items .item-box div.pic-holder div.item-picture-price p.item-price {
              margin: 0;
              height: auto;
              position: absolute;
              right: 0;
              bottom: 0rem;
              z-index: 10;
              padding: .2rem .4rem .05rem .4rem;
              font-size: 1.1rem;
              color: white;
              background: #404040; }
        html #wrapper #items .item-box p.item-desc, body #wrapper #items .item-box p.item-desc {
          margin: 0 auto;
          width: 75%;
          height: 2.5rem;
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          display: block;
          color: #404040; }
        html #wrapper #items .item-box div.line, body #wrapper #items .item-box div.line {
          margin: 0 auto;
          width: 80%;
          height: .1rem;
          border-bottom: .2rem solid #D1D1D1; }
        html #wrapper #items .item-box div.item-link-rate, body #wrapper #items .item-box div.item-link-rate {
          justify-content: space-between;
          margin: 0 auto .4rem;
          width: 70%;
          height: 2rem; }
          html #wrapper #items .item-box div.item-link-rate div.rating, body #wrapper #items .item-box div.item-link-rate div.rating {
            justify-content: space-between;
            margin: .5rem 0 .5rem 0;
            width: 41%;
            height: 2rem; }
          html #wrapper #items .item-box div.item-link-rate a, body #wrapper #items .item-box div.item-link-rate a {
            margin: 0;
            width: 4rem;
            display: block;
            font-size: 1rem;
            text-decoration: none;
            text-align: center;
            text-decoration: none;
            padding: .25rem 0 .25rem;
            border: 1px solid #D1D1D1;
            background: red;
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#fff, #E0E0E0);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#fff, #E0E0E0);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#fff, #E0E0E0);
            background: linear-gradient(#fff, #E0E0E0); }
            html #wrapper #items .item-box div.item-link-rate a:link, body #wrapper #items .item-box div.item-link-rate a:link {
              color: #404040; }
            html #wrapper #items .item-box div.item-link-rate a:visited, body #wrapper #items .item-box div.item-link-rate a:visited {
              color: #404040; }
            html #wrapper #items .item-box div.item-link-rate a:hover, body #wrapper #items .item-box div.item-link-rate a:hover {
              color: #404040;
              background: red;
              /* For browsers that do not support gradients */
              background: -webkit-linear-gradient(#E0E0E0, #fff);
              /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(#E0E0E0, #fff);
              /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(#E0E0E0, #fff);
              background: linear-gradient(#E0E0E0, #fff); }
            html #wrapper #items .item-box div.item-link-rate a:active, body #wrapper #items .item-box div.item-link-rate a:active {
              background: red;
              /* For browsers that do not support gradients */
              background: -webkit-linear-gradient(#fff, #E0E0E0);
              /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(#fff, #E0E0E0);
              /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(#fff, #E0E0E0);
              background: linear-gradient(#fff, #E0E0E0);
              color: #404040; }
    html #wrapper footer, body #wrapper footer {
      width: 100%;
      height: 2.5rem;
      color: #CCC;
      margin: 1rem 0 0 0;
      background: red;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#444, #222);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#444, #222);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#444, #222);
      background: linear-gradient(#444, #222);
      background: #111; }
      html #wrapper footer p, body #wrapper footer p {
        padding: .5rem;
        text-align: center; }

#diagonal {
  width: 150rem;
  height: 50rem;
  position: fixed;
  top: -22rem;
  left: -10rem;
  overflow: hidden;
  display: block;
  background: #D9F0FF;
  transform: rotate(5deg); }

.heart-container {
  width: 1.5rem;
  height: 1.5rem; }
  .heart-container .heart {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
  .heart-container .heart:before, .heart-container .heart:after {
    content: "";
    width: 50%;
    height: 80%;
    position: absolute;
    left: 14%;
    bottom: 14%;
    border-radius: 200px 200px 0 0;
    background: #FFD6CE;
    transform: rotate(-45deg); }
  .heart-container .heart:after {
    left: 38%;
    bottom: 14%;
    transform: rotate(45deg); }

.rating-1 .heart-1:before, .rating-1 .heart-1:after {
  background: #FF2F2F; }

.rating-2 .heart-1:before, .rating-2 .heart-1:after {
  background: #FF2F2F; }

.rating-2 .heart-2:before, .rating-2 .heart-2:after {
  background: #FF2F2F; }

.rating-3 .heart-1:before, .rating-3 .heart-1:after {
  background: #FF2F2F; }

.rating-3 .heart-2:before, .rating-3 .heart-2:after {
  background: #FF2F2F; }

.rating-3 .heart-3:before, .rating-3 .heart-3:after {
  background: #FF2F2F; }

.rating-4 .heart-1:before, .rating-4 .heart-1:after {
  background: #FF2F2F; }

.rating-4 .heart-2:before, .rating-4 .heart-2:after {
  background: #FF2F2F; }

.rating-4 .heart-3:before, .rating-4 .heart-3:after {
  background: #FF2F2F; }

.rating-4 .heart-4:before, .rating-4 .heart-4:after {
  background: #FF2F2F; }

/*# sourceMappingURL=styles.css.map */
